.main
{
    background-color: rgba(122, 108, 108, 0.308);
    align-items: center;
    color: rgb(73, 204, 221);
    font-size: 20px;
    text-decoration-color: rgb(72, 16, 85);
    font-weight: 500;
    height: 80%;
    width: 15%;
    padding: 0px 10px 0px 10px;
    position: fixed;
    border-radius: 20px;
    text-shadow: 3px 3px 5px black;
}
.main > .selected {
    background: rgb(189, 125, 28) ;
    display: flex;
    align-items: center;
    padding: 0 10px 0 20px;
    font-weight: 500;
    margin-bottom: 20px ;
    border: 5px solid black;
    border-radius: 10px;
}

.main img {
    height: 3em;
    width: 200px;
}
.main div
{
    cursor: pointer;
    height: 51px;
}
.sign-up{
    color:blue;
    cursor: pointer;
}
.profile {
    height: auto !important;
    text-align: center;
 }
 .profile .mat-icon {
     height: 64px;
     width: 64px;
     font-size: 64px;
 }
 
 .profile .uname {
     margin-top: 20px;
 }