<div class="a1">Contact us</div>
<div class="container">
    <h1>Contact Our Team Pizza Hunt</h1>
        <p>CALL CENTER (24 x 7) - 180022311231 <br>
            Customer Complaints & Grievances Redressal Dept. <br>
            Headed by - <br>
            Contact, Ms.Bhavanavika <br>
            Asst. Mr.Ramkumar. Manager, Customer Care Cell <br>        
            Email : bhavana&#64;gmail.com <br>
            OR <br>
            Call : 022-241150472 , 2410509337</p>

            <div class="contact-form">
                <form action="" id="contact">
                  <h2>Send Message</h2>
                  <div class="input-box">
                    <input type="text" required="true" name="">
                    <span>Full Name</span>
                  </div>
                  
                  <div class="input-box">
                    <input type="email" required="true" name="">
                    <span>Email</span>
                  </div>
                  
                  <div class="input-box">
                    <textarea required="true" name=""></textarea>
                    <span>Type your Message...</span>
                  </div>
                  
                  <div class="input-box">
                    <input type="submit" value="Send" id="send" (click)="onSubmit()" >
                  </div>
                </form>
              </div>

<div class="end">
   <pre>📞</pre><pre> : 9234651284     </pre>
   <pre>💌</pre><pre> : pizzahunt&#64;gmail.com</pre>
</div>

</div>

  <!-- <script>
  function message(event)
  {
    document.getElementById("send");
    event.preventDefault();
    alert("Querry Sended Successfully !");
  }
</script> -->